.container{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-image: url('../../../assets/imgeges/gl8.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.example-form{
    width: 500px;
    height: 550px;
    text-align: center;
    margin:auto;
    border: 2px solid black;
    border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;}

.backbtn{
    position: relative;
    left: 470px;
}
.example-full-width{
     width: 70%;
    margin-top: 10px;
    }