<div class="btncontainer">
  <button mat-raised-button routerLink="/owener/newhotel">ADD HOTEL</button>
  <button mat-raised-button (click)="getdata()">Hotel Details</button>
  <button mat-raised-button routerLink="/home">BACK</button>
</div>

<div class="serchbox">
  <input type="text" placeholder="Search here..." [(ngModel)]="inputValue" />
  <button (click)="searchBoxValue()">Search</button>
</div>
<ng-container *ngIf="hoteldata | filter : searchBoxVal as hoteldata">
  <table>
    <tr>
      <th *ngFor="let heading of tableHeading">{{ heading }}</th>
    </tr>

    <tr *ngFor="let hoteldata of hoteldata">
      <th>{{ hoteldata.hotelName }}</th>
      <th>{{ hoteldata.hotelAddress }}</th>
      <th>{{ hoteldata.roomsAvailable }}</th>
      <th>{{ hoteldata.hotelMenu }}</th>
      <th>{{ hoteldata.hotelemail }}</th>
      <td>
        
        <mat-icon color="warn" (click)="delete(hoteldata.id)">delete</mat-icon>
      </td>
      <td>
        <mat-icon color="primary" (click)="edit(hoteldata.id)"
          >mode_edit</mat-icon
        >
      </td>
    </tr>
  </table>
</ng-container>
