<div class="container">
  <form class="example-form" [formGroup]="signupform">
    <mat-form-field class="example-full-width">
      <mat-label>username</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Fullname Name</mat-label>
      <input matInput formControlName="name" />
      <mat-hint class="hint" *ngIf="!signupform.get('firstName')?.touched"
        >Please Enter First Name here</mat-hint
      >
      <mat-error *ngIf="signupform.get('firstName')?.hasError('required')">
        First Name is required </mat-error
      ><mat-error *ngIf="signupform.get('firstName')?.errors?.['pattern']">
        pattern not matched
      </mat-error>
      <mat-error
        *ngIf="!signupform.get('firstName')?.errors?.['pattern'] && signupform.get('firstName')?.errors?.['minlength']"
      >
        minimum 2 charachters required
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" /> </mat-form-field
    ><br />
    <mat-form-field class="example-full-width">
      <mat-label>Mobile</mat-label>
      <input matInput formControlName="mobile" /> </mat-form-field
    ><br />
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
      /> </mat-form-field
    ><br />
    <br />
    <mat-radio-group formControlName="gender" aria-label="Select an option">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
      <mat-radio-button value="other">Other</mat-radio-button>
    </mat-radio-group>
    <div>
      <button mat-raised-button color="primary" (click)="submit()">
        Submit
      </button>
    </div>
  </form>
</div>
