
.formfill{
    width: 80%;
}
.example-spacer {
    flex: 1 1 auto;
  }

a{
    margin: 0 10px;
    text-decoration: none;
}

.serchbox
{
    
}
h1{
    color: white;
    font-size: 45px;
    position: relative;
    top: -150px;
}

p{
    font-size: 45px;
    color: aqua;
    position: relative;
    top: -130px;

}

mat-toolbar{
    width: 92vw;
}table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  