.container {
    width: 95vw;
    
    top: 40px;
    right: 440px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}


mat-card {
    width: 100%;
    margin: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

mat-card-title{
    text-align: center;
    font-size: 28px;
    padding: 10px;
}

mat-card-content{
    font-size: 22px;
    padding: 10px;
}

mat-card-footer{
    padding: 10px;
    button {
        width: 95%;
        margin: 50px auto;
        padding: 20px;
        font-size: 20px;
    }
}

b{
    margin: 0px 20px;
}

.img{
    height: 80%;
    width: 45%;
    justify-content: baseline;
    
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img{
        width: 90%;
        height: 100%;
        border-radius: 25px;
        position: relative;
        top: 10px;
        right: 15px;
    }
}